<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted2">Tout ce dont vous aurez besoin pour vous accompagner sur le web!</h3>
                </div>
            </div>
            <div class="row text-center">
                 <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Site mobile</h4>
                    <p><i>Responsive Design</i></p>
                    <p class="text-muted">Les <b>tablettes tactiles</b> et <b>smartphones</b> ont pris une place importante dans la vie numérique de tous les jours. Créer votre site internet ou le mettre à jour grâce à un <b>responsive design</b> vous permettra d'augmenter votre <em>visibilité</em>, tout en ayant un aspect moderne et élégant!</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Conférences scolaires</h4>
                    <p><i>Prévention, informations, conférences</i></p>
                    <p class="text-muted">Internet a pris une place importante dans la <em>vie de tous les jours</em>. Et les <b>jeunes </b> y ont accès de plus en plus jeune. Si il regorge de connaissances et d'aides, il est aussi rempli de <em>dangers et de pièges</em>. Nos conférences permettent de les <b>informer</b>, leur <b>apprendre</b> et d'ouvrir le <b>dialogue</b> avec eux pour qu'il puisse utiliser cet espace chaque jour sans ennuis.</p>
                </div>           
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Créations web</h4>
                    <p><i>Création de sites (vitrine, e-commerce, ...)</i></p>
                    <p class="text-muted">Vous souhaitez avoir une présence sur internet ? Créer <em>votre site internet</em>, votre boutique en ligne, pour votre projet, votre entreprise ? Nous vous accompagnons de A à Z pour vous garantir le site qui correspond à vos attentes, tout en apportant nos connaissances en <b>ergnomie</b>, <b>design</b> et <b>développement web !</b></p>
                </div> 
                    
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web-Marketing</h4>
                    <p><i>Boostez votre visibilité !</i></p>
                    <p class="text-muted">Vous avez déjà votre site internet mais votre <b>visibilité</b> est insuffisante ? Vous souhaitez avoir une présence sur les <b>réseaux sociaux</b> ? Nous analysons votre projet, effectuons un audit de votre site pour vous apporter les éléments pour <b>booster</b> votre marketing web !</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center top-buffer">
                    <a href="" class="top-buffer btn btn-xl text-center">Tout savoir</a>
                </div></div>
            </div>
        </div>
    </section>