<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A propos</h2>
                    <h3 class="section-subheading text-muted">Un petit historique...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                    <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008</h4>
                                    <h4 class="subheading">Premières idées ...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Création d'un blog au sein de mon collège pour le CDI. Le but était de rendre disponible les cours en ligne afin que les élèves puissent avancer leur travail, devoirs, ... Le blog est toujours en activité, est le premier blog en France dans cette catégorie et est devenu référence pour certains de ces articles : <a href="http://www.cdisaintmartin.org" alt="Blog du CDI Saint Martin" target="_blank">Blog du CDI Saint Martin</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">Le commencement</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Premières créations de site web pour des associations de judo,
                                    un maître enlumineur reconnu d'état. Premier stage dans une SARL de création de logiciels : <a href="http://www.cedreo.com" alt="site de SARL cedreo" target="_blank">Cedreo</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Juin 2012</h4>
                                    <h4 class="subheading">Obtention du BAC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Premier diplôme reçu avec la <b>mention bien</b>, spécialité "Sciences de l'ingénieur" (SI) au <a href="http://www.chevrollier.paysdelaloire.e-lyco.fr" alt="Site lycée chevrollier" target="_blank">Lycée Chevrollier</a> à Angers</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Juin 2013</h4>
                                    <h4 class="subheading">Auto-entrepreneur</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Première activité en tant qu'entrepreneur, ce statut m'a permis de concilier études et premiers contrats. Mais également de faire mes armes au près des entreprises qui depuis plus d'un an et demi ont sû me faire confiance.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Juin 2015</h4>
                                    <h4 class="subheading">DUT Informatique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Obtention d'un Diplôme Universitaire Technologique (DUT) à l'Institut Universitaire Technologique de Nantes. Diplôme reconnu d'état, à bac +2. Enseignements : Modélisation (UML, Méthode B, ...), Programmation (Java, C, HTML/CSS, PHP, JavaScript), Base de données, Réseaux, Gestion, Cultume et Communication, ... </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>A nous
                                    <br>d'écrire
                                    <br>la suite!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>