<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Tout ce dont vous aurez besoin pour vous accompagner sur le web!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web-Marketing</h4>
                    <p class="text-muted">SEO, SEM, SMO, ... : Derrière ces termes obscurs se cachent les <b>clés</b> de votre référencement sur internet et les moteurs de recherche. Et quand on est une entreprise, quelque soit notre taille on ne recherche qu'une chose : <b>la visibilité</b>.  Et si nous travaillions ensemble pour trouver ces clés pour <u>votre entreprise</u></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Création de sites web</h4>
                    <p class="text-muted">Et si on partait de <b>zéro</b>? Avec votre <b>idée</b>, votre <b>entreprise</b> comme coeur et les <u>technologies</u> et l'<u>expertise</u> que je vous apporte, nous allons construire ensemble site qui vous ressemble. Un projet clé en main et sans contrainte pour lancer votre projet sur internet </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Conférences pour les établissements scolaires</h4>
                    <p class="text-muted">Internet est une source innépuisable de savoir, mais c'est aussi une source de dangers : trop souvent ignorés ou inconnus des élèves, du collège à l'université, qui "surfent" sans se soucier de ce qu'il y a derrière un lien... Et si on préparait la génération de demain à utiliser internet en se protégeant et en utilisant tout de suite les bonnes attitudes? Grâce à ces conférences, adaptées à votre établissement et vos élèves, offrez leur une vision nouvelle et les moyens pour se prévenir de ces dangers.</p>
                </div>
            </div>
        </div>
    </section>