<!-- Services Section -->
    <section id="services">
    <div class="header-serv"></div>
        <div class="container">       
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-primary my-text-primary">Services</h2>
                    <h3 class="section-subheading my-text-primary">Tout ce dont vous aurez besoin pour vous accompagner sur le web!</h3>
                </div>
            </div> 
        </div>  
        <div class="container">       
            <div class="row">
                 <div class="col-md-4">
                    <div class="fa-rec top-buffer">
                        <i class="fa fa-mobile fa-stack-2x fa-inverse"></i>
                        <h4 class="service-heading">Site mobile</h4>
                    </div>
                    <p><i>Responsive Design</i></p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <a href="/services/" class="btn btn-primary btn-sm">Tout savoir</a>
                </div>
                <div class="col-md-4">
                    <div class="fa-rec top-buffer">
                        <i class="fa fa-desktop fa-stack-2x fa-inverse"></i>
                        <h4 class="service-heading">Web design</h4>
                    </div>
                    <p><i>Création de site (vitrine, e-commerce, ...)</i></p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <a href="/services/" class="btn btn-primary btn-sm">Tout savoir</a>
                </div> 
                <div class="col-md-4">
                    <div class="fa-rec top-buffer">
                        <i class="fa fa-child fa-stack-2x fa-inverse"></i>
                        <h4 class="service-heading">Conférences scolaires</h4>
                    </div>
                    <p><i>Prévention, formation, information</i></p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <a href="/services/" class="btn btn-primary btn-sm">Tout savoir</a>
                </div>
            </div>
            <div class="row top-buffer">               
                <div class="col-md-4">
                    <div class="fa-rec top-buffer">
                        <i class="fa fa-tachometer fa-stack-2x fa-inverse"></i>
                        <h4 class="service-heading">Web-Marketing</h4>
                    </div>
                    <p><i>Boostez votre visibilité !</i></p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <a href="/services/" class="btn btn-primary btn-sm">Tout savoir</a>
                </div>
                <div class="col-md-4">
                    <div class="fa-rec top-buffer">
                        <i class="fa fa-tachometer fa-stack-2x fa-inverse"></i>
                        <h4 class="service-heading">Web-Marketing</h4>
                    </div>                    
                    <p><i>Boostez votre visibilité !</i></p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <a href="/services/" class="btn btn-primary btn-sm">Tout savoir</a>
                </div>
                <div class="col-md-4">
                    <div class="fa-rec top-buffer">
                        <i class="fa fa-tachometer fa-stack-2x fa-inverse"></i>
                        <h4 class="service-heading">Web-Marketing</h4>
                    </div>
                    <p><i>Boostez votre visibilité !</i></p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <a href="/services/" class="btn btn-primary btn-sm">Tout savoir</a>
                </div>
            </div>
        </div>
    </section>