<!-- Team Section -->
    <section class="bg-light-gray">
       <div class="header-serv header-serv-3"></div>
        <div class="container">       
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-primary my-text-primary">A propos</h2>
                    <h3 class="section-subheading my-text-primary">Et si je vous en disais un peu plus sur moi ... </h3>
                </div>
            </div> 
        </div> 
        <div class="container top-buffer-x2">
            <div class="row top">
                <div class="col-md-4 text-center">
                    <h2 class="section-heading">Qui suis-je?</h2>
                    <h3 class="section-subheading text-muted2">Que dire de plus...</h3>
                    <p class="large text-muted">Je suis né en 1994 à Angers dans la région des Pays de la Loire. Né dans ce que certain appellent aujourd'hui la "génération Y", j'ai grandi entouré d'informatique, d'internet (et de pokémons). Nous avons eu la chance pour tous ceux né dans ces années 90' de connaître les évolutions importantes des dernières générations : Le franc et l'euro, l'installation d'internet dans les maisons, l'ordinateur personnel pour tous, la naissance des réseaux sociaux, et bien d'autres ... Cette culture en permantente évolution m'a toujours envie d'en apprendre plus, et d'aller toujours plus loin dans les connaissances. Et j'ai appris avec le temps à aimer le partage de ces connaissances. C'est dans cette optique que je me suis lancé dans les "métiers du web", pour mettre mes connaissances au service des profesionnels, et transmettre aux plus jeunes l'envie de les créer, les utiliser, à leur tour. </p>
                </div>
                <div class="col-md-4 text-center">
                    <h2 class="section-heading">Qui suis-je?</h2>
                    <h3 class="section-subheading text-muted2">Que dire de plus...</h3>
                    <p class="large text-muted">Je suis né en 1994 à Angers dans la région des Pays de la Loire. Né dans ce que certain appellent aujourd'hui la "génération Y", j'ai grandi entouré d'informatique, d'internet (et de pokémons). Nous avons eu la chance pour tous ceux né dans ces années 90' de connaître les évolutions importantes des dernières générations : Le franc et l'euro, l'installation d'internet dans les maisons, l'ordinateur personnel pour tous, la naissance des réseaux sociaux, et bien d'autres ... Cette culture en permantente évolution m'a toujours envie d'en apprendre plus, et d'aller toujours plus loin dans les connaissances. Et j'ai appris avec le temps à aimer le partage de ces connaissances. C'est dans cette optique que je me suis lancé dans les "métiers du web", pour mettre mes connaissances au service des profesionnels, et transmettre aux plus jeunes l'envie de les créer, les utiliser, à leur tour. </p>
                </div>
                <div class="col-md-4 text-center">
                    <h2 class="section-heading">Qui suis-je?</h2>
                    <h3 class="section-subheading text-muted2">Que dire de plus...</h3>
                    <p class="large text-muted">Je suis né en 1994 à Angers dans la région des Pays de la Loire. Né dans ce que certain appellent aujourd'hui la "génération Y", j'ai grandi entouré d'informatique, d'internet (et de pokémons). Nous avons eu la chance pour tous ceux né dans ces années 90' de connaître les évolutions importantes des dernières générations : Le franc et l'euro, l'installation d'internet dans les maisons, l'ordinateur personnel pour tous, la naissance des réseaux sociaux, et bien d'autres ... Cette culture en permantente évolution m'a toujours envie d'en apprendre plus, et d'aller toujours plus loin dans les connaissances. Et j'ai appris avec le temps à aimer le partage de ces connaissances. C'est dans cette optique que je me suis lancé dans les "métiers du web", pour mettre mes connaissances au service des profesionnels, et transmettre aux plus jeunes l'envie de les créer, les utiliser, à leur tour. </p>
                </div>
            </div>
        </div>
    </section>